#logo {
	width: 145px;
	height: 100%;
}

h2 {
	margin: 0px;
	margin-bottom: 5px;
}

a.navbar-brand {
	padding: 0px;
}

nav.navbar-inverse {
	background-color: #686C78;
	margin-bottom: 5px;
	breakpoint: 1000px;
}

.navbar-brand {
	height: 60px;
}

div#myNavbar > ul > li a {
	font-size: 1.35em;
	color: white;
	height: 60px;
	line-height: 28px;
}

div#myNavbar > ul > li a:hover {
	color: #B30000;
}

div#myCarousel {
	margin: 3% 8% 1%;
}

#cuerpo {
	padding: 5px;
	padding-top: 68px;
}

#id {
	background-color: #D6D8D3;
}

div.carousel-caption * {
	margin: 0px 0px 0px;
}

.imgcar {
	margin-left: auto;
	margin-right: auto;
}

.carousel-inner > .item > img {
	width: 60%;
	height: 214px;
	margin: auto;
}

.carousel-indicators {
	top: 180px;
}

.carousel-caption {
	top: 112px;
	bottom: 0px;
}
