@font-face {
	font-family: fontawesome;
	src: url(../fonts/FontAwesome);
}

body {
	background-color: #E7E6E8;
}

#logo {
	width: 145px;
	height: 100%;
}

h2 {
	margin: 0px;
	margin-bottom: 5px;
}

a.navbar-brand {
	padding: 0px;
}

nav.navbar-inverse {
	background-color: #686C78;
	margin-bottom: 5px;
	breakpoint: 1000px;
}

.navbar-brand {
	height: 60px;
}

div#myNavbar > ul > li a {
	font-size: 1.3em;
	color: white;
	height: 60px;
	line-height: 28px;
	padding-left: 7px;
	padding-right: 7px;
}

div#myNavbar > ul > li a:hover {
	color: #B30000;
}

div#myCarousel {
	margin: 3% 8% 1%;
}

#cuerpo {
	padding: 5px;
	padding-top: 68px;
}

#id {
	background-color: #D6D8D3;
}

div.carousel-caption * {
	margin: 0px 0px 0px;
}

.imgcar {
	margin-left: auto;
	margin-right: auto;
}

.carousel-inner > .item > img {
	width: 60%;
	height: 214px;
	margin: auto;
}

.carousel-indicators {
	top: 180px;
}

.carousel-caption {
	top: 112px;
	bottom: 0px;
}

#cuerpo > .row > div.inf {
	padding: 0px 18px 0px 18px;
}

#inf-event {
	height: 248px;
	overflow: auto;
	border: black solid;
	background-color: white;
}

.contcar {
	padding-right: 0px;
}

#inf-event > * {
	font-family: fontawesome;
	margin-left: 14px;
}

.input-group {
	margin: auto 150px auto 150px;
}

div > a > h3 + img {
	display: block;
	width: 250px;
	height: 200px;
	margin: auto;
}

div > a > h3 {
	text-align: center;
}

#inf-event > h3 {
	margin-top: 10px;
}

.ocultar {
	display: none;
}

.mostrar {
	display: block;
}

#inf-event > p::first-letter {
	font-size: 1.7em;
	border: 1px solid black;
	background: red;
	margin-right: 2px;
}

.escuelas {
	display: block;
	height: 259px;
	width: 90%;
	margin: 10px auto;
}

#cuerpo > div > div > h1 {
	text-align: center;
	margin-top: 10px;
}

#cuerpo > div.deportes > div > div > p {
	display: inline-block;
	font-size: 20px;
}

.des-eq {
	width: 150px;
	font-weight: bold;
}

.deportes {
	margin: 5px 15px;
	border: solid black;
	border-radius: 5px;
	background-color: white;
}

.eventos > img {
	display: block;
	margin: auto;
	width: 45%;
	height: 300px;
	box-shadow: 8px 8px 10px #999;
}

.eventos > h3,
.eventos > p {
	text-align: center;
	margin-top: 5px;
}

.pagina_e > div:first-of-type ~ div {
	margin-top: 54px;
}

.eventos > p {
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
}
